
body {
    font-family: sans-serif;
    background-color: #ebebf5;
    overflow-x: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
    padding: 10px 0;
    text-align: center;
    margin-top: -20px;
    margin-bottom: 25px;
    font-weight: bold;
    font-size: 18px; 

}

nav {
    position: fixed;
    top: 80px; 
    left: 0;
    height: calc(100% - 80px); 
    width: 160px;
    display: flex;
    flex-direction: column;
    gap: 80px;
    padding: 20px 10px;
    text-align: center;
    color: #000;
    padding: 20px;
    top: 12%;
    font-size: 16px; 
    
    
}
nav a {
    color: #000000;
    text-decoration: none;
    font-weight: bold;
}

.search-form {
    grid-area: search;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background: #ffffff;
    border-radius: 25px;
    padding: 10px 20px;
    margin: -10px auto 10px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    width: 97%;
    max-width: 1500px; 
}

.search-form input, 
.search-form select, 
.search-form button {
    padding: 8px;
    margin: 0 10px;
    border: 1px solid #ded5df;
    border-radius: 8px;
    font-size: 14px;
}

.search-form input[type="text"], 
.search-form input[type="number"], 
.search-form select {
    flex: 1;
}

.search-form button {
    background-color: #6b5b95;
    color: white;
    border: none;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.search-form button:hover {
    background-color: #56447e;
}

.main-container {
    position: fixed; 
    margin-top: 100px; 
    margin-left: 90px; 
    background-color: #f4f4fc;
    border-radius: 50px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    padding: 40px;
    max-width: 1500px;
    max-height: 750px;
    width: calc(100% - 130px); 
    height: calc(100% - 120px); 
    display: grid;
    grid-template-areas: 
        "search search"
        "table chart"
        "table trending-gainers";
    grid-template-columns: 2fr 1fr;
    grid-template-rows: auto auto auto;
    gap: 20px;
    overflow-y: auto; 
    margin-bottom: 75px;
}


.table-container {
    grid-area: table;
    overflow-x: auto;
    border-radius: 25px;
    background: #ffffff;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    max-width: 580px;
    width: 100%;

}
.table-container::-webkit-scrollbar {
    display: none;
}

table {
    width: 100%;
    border-collapse: collapse;
}


th, td {
    text-align: left;
    padding: 12px;
}

th {
    background-color: #e1e1e1;
}

tr:nth-child(even) {
    background-color: #f3f0f5;
}
td {
    font-size: 15px;
    font-weight: bold;
}

.chart {
    grid-area: chart;
    background: #fff;
    border-radius: 35px;
    padding: 15px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    height: 240px; 
    width: 800px;
    text-align: center;
}
.chart h2
{
margin-top: 0px;
}

.trending {
    grid-area: trending;
    background: #fff;
    border-radius: 25px;
    padding: 0;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    font-weight: bold;
    line-height: 1.8;
    letter-spacing: 2px;
    overflow: hidden; 
    text-align: center;
}

.gainers {
    grid-area: gainers;
    background: #fff;
    border-radius: 25px;
    padding: 0;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    font-weight: bold;
    line-height: 1.8;
    letter-spacing: 2px;
    overflow: hidden;
    text-align: center;  
}
.trending, .gainers {
    margin: 0; 
    width: 100%; 
}
.trending-gainers {
    display: flex; 
    gap: 95px;
    grid-area: trending-gainers;
}

.chart h3, .trending h3, .gainers h3 {
    margin: 0 0 12px;
    font-size: 18px;
}
.trending h3 {
    padding: 16px;
    background: linear-gradient(90deg, #ded5df, #ded5df); 
    color: #000000; 
    border-radius: 25px 25px 0 0; 
}

.gainers h3 {
    padding: 16px;
    background: linear-gradient(90deg, #ded5df, #ded5df); 
    color: #000000; 
    border-radius: 25px 25px 0 0; 
}

.trending ul, .gainers ul {
    list-style: none;
    padding: 0;
    margin: 0;
    margin-top: 25px;
}

.trending li, .gainers li {
    padding: 8px 0;
    border-bottom: 1px solid #f0f0f0;
}

.trending li:last-child, .gainers li:last-child {
    border-bottom: none;
}

.chart canvas {
    width: 100%;
    height: 100%; 
}
