* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    background-color: #ebebf5;
    overflow-x: hidden;
}

.container {
    display: grid;
    grid-template-rows: auto 1fr auto;
    height: 100vh;
    width: 100vw;
	overflow: hidden;
}

header, footer {
    background-color: #ebebf5;
    color: #000;
    text-align: center;
    padding: 5px; 
    font-size: 18px; 
}

nav {
    background-color: #ebebf5;
    width: 160px; 
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 100px; /* Zwiększony odstęp pionowy między linkami */
    position: fixed;
    top: 50%;
    transform: translateY(-50%); /* Wyśrodkowanie nawigacji w pionie */
    text-align: center;
}

nav a {
    color: #000000;
    text-decoration: none;
    font-weight: bold;
}

.main-content {
    display: flex;
    flex-direction: column;
    margin-left: 160px; 
    margin-right: 90px; 
    padding: 20px;
    height: calc(100vh - 80px);
    overflow-y: auto;
}

.main-content::-webkit-scrollbar {
    display: none;
}

.content {
    background-color: #f4f4fc;
    padding: 20px;
    border-radius: 60px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.prawa {
    background-color: #ebebf5;
    width: 90px; 
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
}

.boxy {
    display: flex;
    justify-content: space-between;
    gap: 70px; /* Zwiększ odstęp między boxami */
    margin-top: 30px;
    margin-bottom: 40px;
    margin-left: auto;
    margin-right: auto;
    width: 92%; /* Zmniejszona szerokość dla wycentrowania */
    max-width: 1500px; /* Maksymalna szerokość dla dużych ekranów */
    font-size: 35px;
}

.box {
    flex: 1;
    padding: 20px; /* Zmniejszone wypełnienie wewnętrzne boxów */
    background-color: #ffffff;
    border-radius: 30px; /* Zmniejszony zaokrąglenie */
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.box h1 {
    margin-bottom: 5px;
    font-size: 3.5rem;
    float: left;
}

.wartoscb {
    font-weight: bold;
    margin-bottom: 10px;
    float: left;
}

/* NA RAZIE W WYKRESB NIC NIE MA ALE ZOSTANIE TO ZMIENIONE Z WYKRESEM */
.wykresb {
    width: 50%;
    height: 100px;
    border-radius: 5px;
    float: right;
	background-color: white;
}

.market_czas {
    display: flex;
    justify-content: space-between;
    align-items: start;
    margin-bottom: 20px;
    gap: 20px;
}

.market_overview {
    display: flex;  /* Enable flexbox */
    justify-content: center;  /* Center content horizontally */
    align-items: center;  /* Center content vertically */
    flex-direction: column;  /* Align items vertically */
    flex: 1;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 30px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    min-width: 400px;
    min-height: 80px;
    margin-left: 60px;
	
}

.market_overview h2 {
    font-weight: bold;
    margin-bottom: 10px;
    text-align: center;
}

.wykres_market {
    width: 80%;
    height: 200px;
    background-color: #F7F5FA;
    border-radius: 10px;
    margin-top: 10px;
	
}

.box_z_czasem {
    background-color: #ffffff;
    padding: 15px;
    border-radius: 40px;
    text-align: center;
    font-weight: bold;
    min-width: 450px;
	min-height: 200px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
	display: flex;  /* Enable flexbox */
    justify-content: center;  /* Center content horizontally */
    align-items: center;  /* Center content vertically */
    margin-bottom: 20px;
	margin-left: 60px;
	margin-right: 110px;
    gap: 20px;
    height: 100%;  /* Ensure it takes the full height of its parent */
	flex-direction: column;
	font-size: 2rem;
}
.recent-activities {
    padding: 10px;
    background-color: #ffffff;
    border-radius: 40px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
	margin-right: 60px;
	margin-left: 60px;
	margin-top: 50px;
	
}

#tytula {
    font-weight: bold;
	margin: 5px 30px;
	margin-top: 30px;
	font-size: 20px;
}

#dane {
    margin: 10px 50px;
    font-size: 1rem;
	font-weight: bold;
}
th {
    font-size: 20px;
    padding: 40px;
    text-align: left; 
    vertical-align: middle; 
}

td {
    padding: 40px;
    text-align: left; 
    vertical-align: middle; 
}

#theme-toggle-root
{
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 100;
    transition: transform 0.3s ease;
    transform: scale(1.1);
}