body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
* {
  color: black;
}

body {
  background-color: #ebebf5;
}

header, footer {
  background-color: #ebebf5;
  color: #000;
}

nav a {
  color: #000;
}

.content {
  background-color: #f4f4fc;
}

.prawa {
  background-color: #ebebf5;
}

.box {
  background-color: #ffffff;
}

.market_overview {
  background-color: #ffffff;
}

.wykres_market {
  background-color: #F7F5FA;
}

.box_z_czasem {
  background-color: #ffffff;
}

.recent-activities {
  background-color: #ffffff;
}
.wykresb {
  background-color: white;
}

body.dark-mode .wykresb {
  background-color: #2F2F37;;
}

body.dark-mode {
  background-color: #1C1C21;
}

body.dark-mode * {
  color: rgb(255, 255, 255);
}

body.dark-mode header,
body.dark-mode footer {
  background-color: #1C1C21;
  color: #000;
}

body.dark-mode nav {
  background-color: #1C1C21;
}

body.dark-mode nav a {
  color: #fcff54;
}

body.dark-mode .content {
  background-color: #232329;
}

body.dark-mode .prawa {
  background-color: #1C1C21;
}

body.dark-mode .box {
  background-color: #2F2F37;
}

body.dark-mode .market_overview {
  background-color: #2F2F37;
}

body.dark-mode .wykres_market {
  background-color: #292930;
}

body.dark-mode .box_z_czasem {
  background-color: #2F2F37;
}

body.dark-mode .recent-activities {
  background-color: #2F2F37;
}

body.dark-mode tbody tr:hover {
  background-color: #232224 !important;
  transition: background-color 0.3s ease;
}

body.dark-mode .header_rap {
  background-color: #1C1C21;
  color: #000;
}

body.dark-mode .content_rap {
  background-color: #232329;
}

body.dark-mode .table-container {
  background: #2f2f35; 
  border: 15px solid #2F2F37; 
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.5); 
}

body.dark-mode thead {
  background-color: #1e1e22;
}

body.dark-mode table tr:nth-child(even) {
  background-color: #242427 ;
}

body.dark-mode .chart
{
  background-color: #2F2F37;
}

body.dark-mode .trending
{
  background-color: #2F2F37;
}

body.dark-mode .gainers 
{
  background-color: #2F2F37;
}

body.dark-mode .trending h3
{
  background-color: #1e1e22;
}

body.dark-mode .gainers h3
{
  background-color: #1e1e22;
}

body.dark-mode .trending li
{
  background-color: #2F2F37;
}

body.dark-mode .gainers li
{
  background-color: #2F2F37;
}

body.dark-mode .trending ul li:nth-child(even) {
  background-color: #3d3d46;
}

body.dark-mode .gainers ul li:nth-child(even) {
  background-color: #3d3d46;
}

